body {
  margin: 50px 50px 0 50px;
  font-family: sans-serif;
  line-height: 24px;
  font-weight: 200;
}

h1,h2 {
  margin:15px 0;
  font-weight: 500;
}

h1 {
  color: rgba(255, 165, 0, 0.8);
}

hr.light {
  border: 1px inset rgb(255, 255, 255);
}

.textContainer > p,
.textContainer > a {
  margin: 10px 10px 20px;
  text-align: justify;
}

.centerHeader {
  text-align: center;
}

.homeHeader {
  text-align: end;
  padding: 0 200px;
}

.flower {
  border: 1px solid black;
}

.gif {
  padding-left: 75px;
}

.container {
  display: flex;
}

.container > div {
  margin: auto 0;
}

.commentContainer {
  margin: 100px;
}

.submitButton {
  width:100px;
  height:25px;
  padding: 0;
  font-size: 15px;
  background-image: linear-gradient(white, white,#bbb);
  border:1px solid #bbb;
  border-radius: 3px;
  margin-bottom: 20px;
}
